node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.next
out
build
coverage

.git
.gitignore
.github

.env
.env.*
!.env.example

*.md
!DEPLOYMENT.md

.vscode
.idea
.DS_Store
*.pem

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml

tsconfig.tsbuildinfo
